NEXT_PUBLIC_API_URL=http://localhost:1337
DATABASE_URL=postgresql://strapi:strapi@postgres:5432/frjcms
STRAPI_URL=http://strapi:1337
APP_URL=http://localhost:3000
NODE_IMAGE=node:20-alpine
POSTGRES_IMAGE=postgres:16-alpine
NPM_REGISTRY=https://registry.npmmirror.com

POSTGRES_DB=frjcms
POSTGRES_USER=strapi
POSTGRES_PASSWORD=strapi
POSTGRES_PORT=5432

STRAPI_PORT=1337
NEXT_PORT=3000
NODE_ENV=development

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=frjcms
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SSL=false

APP_KEYS=changeMeAppKey1,changeMeAppKey2,changeMeAppKey3,changeMeAppKey4
API_TOKEN_SALT=changeMeApiTokenSalt
ADMIN_JWT_SECRET=changeMeAdminJwtSecret
TRANSFER_TOKEN_SALT=changeMeTransferSalt
JWT_SECRET=changeMeJwtSecret
ENCRYPTION_KEY=changeMeEncryptionKey

STRAPI_ADMIN_EMAIL=admin@example.com
STRAPI_ADMIN_PASSWORD=Admin123456!
